@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

.graybox {
    background-color: grey;
}

img {
    max-width: 100%;
    height: auto;
}

img.monash-logo {
    max-width: 70%;
    height: auto;
    opacity: 0.3;
}

.student-name {
    margin-left: 0;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#student-name-text {
    margin-left: 0.5em;
    color: grey;
    font-weight: bold;
}

.profile-cluster {
    margin-top: 0.5em;
}

.card-icon {
    max-width: 20%
}

.colour-bar {
    width: 50px;
    height: 50px;
    /* height: 100%; */
    background-color: red;
}

.card-next-class {
    width: 100%;
    min-height: 0;
    background-image: linear-gradient(right, #2196F3, #2196F3 20%, transparent 20%, transparent 100%);
    background-image: -webkit-linear-gradient(right, #2196F3, #2196F3 20%, transparent 20%, transparent 100%)
}

.card-content-main {
    margin-right: 20%;
}

body {
    background-color: #fafafa;
}

.card-subtitle {
    color: grey;
}

section.buttons {
    bottom: 0;
    position: absolute;
}

img.card-icon {
    margin-right: 0.5em;
}