@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

.graybox {
    background-color: grey;
}

img {
    max-width: 100%;
    height: auto;
}

img.monash-logo {
    max-width: 70%;
    height: auto;
    opacity: 0.3;
}

.student-name {
    margin-left: 0;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#student-name-text {
    margin-left: 0.5em;
    color: grey;
    font-weight: bold;
}

.profile-cluster {
    margin-top: 0.5em;
}

.card-icon {
    max-width: 20%
}

.colour-bar {
    width: 50px;
    height: 50px;
    /* height: 100%; */
    background-color: red;
}

.card-next-class {
    width: 100%;
    min-height: 0;
    background-image: linear-gradient(right, #2196F3, #2196F3 20%, transparent 20%, transparent 100%);
    background-image: -webkit-linear-gradient(right, #2196F3, #2196F3 20%, transparent 20%, transparent 100%)
}

.card-next-assignment {
    width: 100%;
    min-height: 0;
    background-image: linear-gradient(right, #FF5722, #FF5722 15%, transparent 15%, transparent 100%);
    background-image: -webkit-linear-gradient(right, #FF5722, #FF5722 15%, transparent 15%, transparent 100%)
}

.card-next-exam {
    width: 100%;
    min-height: 0;
    background-image: linear-gradient(right, #FFEB3B, #FFEB3B 15%, transparent 15%, transparent 100%);
    background-image: -webkit-linear-gradient(right, #FFEB3B, #FFEB3B 15%, transparent 15%, transparent 100%)
}

.card-opening-hours {
    width: 100%;
    min-height: 0;
}

.card-content-main {
    margin-right: 20%;
}

body {
    background-color: #fafafa;
}

.card-subtitle {
    color: grey;
}

section.buttons {
    bottom: 0;
    position: absolute;
}

img.card-icon {
    margin-right: 0.5em;
}

.card-time {
    position: absolute;
    right: 0.5em;
    top: 3em;
    color: white;
    opacity: 0.8;
    text-align: center;
}

.card-next-assignment .card-time {
    right: 0.8em;
}

.card-next-exam .card-time {
    right: 0.8em;
    color: black;
}

.time-hour {
    font-size: 1.6em;
}

.mdl-card {
    margin-bottom: 1em;
}

.voice-input {
    z-index:999;
    width: 100%;
    position: absolute;
    top: 0;
    height: 400px;
    background: red;
    visibility: hidden;
}

.visible {
    visibility: visible;
}



.day-of-week {
    font-weight: bold;
    color: black;
    margin-left: 0.5em;
    margin-right: 2em;
}